include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include prueba *.css
recursive-include prueba *.csv
recursive-include prueba *.html
recursive-include prueba *.ico
recursive-include prueba *.js
recursive-include prueba *.json
recursive-include prueba *.md
recursive-include prueba *.png
recursive-include prueba *.py
recursive-include prueba *.svg
recursive-include prueba *.txt
recursive-exclude prueba *.pyc